---
import "../styles/company.css";
const {
    companyLogo="",
    companyName="",
    color="blue",
    companySite="",
    forceImgWidth="",
    
    roDescription = "",
    enDescription = "",

} = Astro.props;
---

<div class="company-card">

    <div data-color={color} class="logo">
        <img src={companyLogo} alt=`logo companie ${companyName}` style=`width: ${forceImgWidth};`>
    </div>
    <div class="description-bttn" data-lang="en" onclick="this.parentElement.toggleAttribute('data-description')"> Find more! </div>
    <div class="description-bttn" data-lang="ro" onclick="this.parentElement.toggleAttribute('data-description')"> Mai multe! </div>

    <div class="description" data-lang="en"> {enDescription} </div>
    <div class="description" data-lang="ro"> {roDescription} </div>

</div>
