---
import { discriminatedUnion } from "astro:schema";
import "../styles/company.css";
const {
    companyLogo="",
    companyName="",
    color="blue",
    companySite="",
    forceImgWidth="",
    onlyRedirect=false

} = Astro.props;
---

<div class="company-card">

    <div data-color={color} class="logo">
        <img src={companyLogo} alt=`logo companie ${companyName}` style=`width: ${forceImgWidth};`>
    </div>
    
    <div
        class="description-bttn"
        onclick="
            close = this.parentElement.hasAttribute('data-description');
            closeDescriptions();

            if(!close)
                this.parentElement.toggleAttribute('data-description');
        "
    >
        <span data-lang="ro"> Mai multe! </span>
        <span data-lang="en"> Find more! </span>
    </div>

    <a href={companySite} target="_blank" class="description-bttn">
        <span data-lang="en"> Visit us! </span>
        <span data-lang="ro"> Vizitează-ne! </span>
    </a>

    <div class="description">
        <slot/>
    </div>

</div>

<script is:inline>

    function closeDescriptions() {

        [... document.getElementsByClassName("company-card")].forEach((card) => {
            card.removeAttribute("data-description");
        });
    }

</script>
