---
import "../styles/company.css";
const { companyLogo="", companyName="", color="blue", companySite="", forceImgWidth="" } = Astro.props;
---

<div class="company-card">

    <div data-color={color}>
        <img src={companyLogo} alt=`logo companie ${companyName}` style=`width: ${forceImgWidth};`>
    </div>
    <a href={companySite} data-lang="en"> Visit Us! </a>
    <a href={companySite} data-lang="ro"> Vizitează-ne! </a>

</div>
