---
import "../styles/company.css";
const {
    companyLogo="",
    companyName="",
    color="blue",
    companySite="",
    forceImgWidth="",
    onlyRedirect=false

} = Astro.props;
---

<div class="company-card">

    <div data-color={color} class="logo">
        <img src={companyLogo} alt=`logo companie ${companyName}` style=`width: ${forceImgWidth};`>
    </div>
    
    { !onlyRedirect &&
        <div
            class="description-bttn"
            data-lang="en"
            onclick="
                close = this.parentElement.hasAttribute('data-description');
                closeDescriptions();
    
                if(!close)
                    this.parentElement.toggleAttribute('data-description');
            "
        >
            Find more!
        </div>
    
        <div
            class="description-bttn"
            data-lang="ro"
            onclick="
                close = this.parentElement.hasAttribute('data-description');
                closeDescriptions();
    
                if(!close)
                    this.parentElement.toggleAttribute('data-description');
            "
        >
            Mai multe!
        </div>
    }

    { onlyRedirect &&
        <a href={companySite} target="_blank" data-lang="en" class="description-bttn"> Find more! </a>
        <a href={companySite} target="_blank" data-lang="ro" class="description-bttn"> Mai multe! </a>
    }

    <div class="description">
        <slot/>
    </div>

</div>

<script is:inline>

    function closeDescriptions() {

        [... document.getElementsByClassName("company-card")].forEach((card) => {
            card.removeAttribute("data-description");
        });
    }

</script>
